$main-color: #000a1d;
$secondary-color: #f4f1de;

$main-font: "Oranienbaum", serif;

* {
  box-sizing: border-box;
}

html {
  background-color: $main-color;
  text-align: center;
  overflow: hidden;

  body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    #loader{
      width: 100%;
      height: fit-content;
      position: absolute;
      transform: translate(-50%, -50%);
      overflow: hidden;
      top: 50%;
      left: 50%;
    
      p{
        width: fit-content;
        height: fit-content;
        font-size: 50px;
        font-family: $main-font;
        color: $secondary-color;
        margin: auto;
        transform: translateY(50px);
      }
    }

    .canvas {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 999;

      ul {
        font-size: 20px;
        width: 100vw;
        height: 85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        li {
          width: fit-content;
          position: relative;
          overflow: hidden;
          margin: auto;

          a {
            color: $secondary-color;
            font-family: $main-font;
            font-size: 100px;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            transition: 500ms linear;
            display: block;
            transform: translateY(100px);

            &:hover {
              opacity: 1;
              cursor: pointer;
              z-index: 9;
            }
          }

          img {
            width: 450px;
            height: 410px;
            object-fit: cover;
            position: fixed;
            opacity: 1;
            top: 0;
            left: 100%;
            z-index: -1;
          }
        }
      }
    }

    canvas {
      position: absolute;
    }
  }
}
